n8n_workflows_oficial/1_mcp_server_trigger.json
{
  "name": "Omie MCP Server Trigger - Oficial",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "mcpUrl": "http://localhost:3000",
        "authentication": "none",
        "path": "omie-mcp-webhook",
        "options": {
          "responseMode": "respondToWebhook",
          "responseHeaders": {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json"
          }
        }
      },
      "name": "MCP Server Trigger",
      "type": "n8n-nodes-langchain.mcptrigger",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.method }}",
              "rightValue": "tools/list",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check MCP Method",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"tools\": [ { \"name\": \"testar_conexao\", \"description\": \"Testa conexão com API Omie\" }, { \"name\": \"consultar_categorias\", \"description\": \"Lista categorias\" }, { \"name\": \"consultar_departamentos\", \"description\": \"Lista departamentos\" }, { \"name\": \"consultar_contas_pagar\", \"description\": \"Lista contas a pagar\" }, { \"name\": \"consultar_contas_receber\", \"description\": \"Lista contas a receber\" } ] } }}",
        "options": {
          "responseHeaders": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*"
          }
        }
      },
      "name": "Return Tools List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Method not supported\", \"method\": $json.method } }}",
        "options": {
          "responseHeaders": {
            "Content-Type": "application/json"
          },
          "responseCode": 400
        }
      },
      "name": "Method Not Supported",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    }
  ],
  "connections": {
    "MCP Server Trigger": {
      "main": [
        [
          {
            "node": "Check MCP Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MCP Method": {
      "main": [
        [
          {
            "node": "Return Tools List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Method Not Supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
