n8n_workflows_oficial/4_sse_monitor.json
{
  "name": "Omie SSE Monitor - Webhook Based",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/test/testar_conexao",
        "options": {
          "headers": {
            "Accept": "application/json",
            "User-Agent": "n8n-omie-monitor/1.0"
          },
          "timeout": 10000
        }
      },
      "name": "Check Server Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Health Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "status",
              "value": "healthy"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            },
            {
              "name": "server_data",
              "value": "={{ $json.data }}"
            },
            {
              "name": "monitoring_type",
              "value": "health_check"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Healthy Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "status",
              "value": "unhealthy"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            },
            {
              "name": "error",
              "value": "Server health check failed"
            },
            {
              "name": "monitoring_type",
              "value": "health_check"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Unhealthy Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        800,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Server Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Server Health": {
      "main": [
        [
          {
            "node": "Check Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Health Status": {
      "main": [
        [
          {
            "node": "Log Healthy Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Unhealthy Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
